// SCSS styles
.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 15px;

  .related-searches {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }

  .related-title {
    font-size: 14px;
    color: #6b7280;
  }

  .results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
  }

  .result-item {
    display: flex;
    background-color: white;
    padding: 5px;
    gap: 15px;
  }

  .imagen-container {
    display: contents;
    align-content: center;
  }

  .result-image {
    width: 100%;
    max-width: 190px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }

  .result-info {
    display: flex;
    flex-direction: column;
    flex: 1;

    .result-title {
      font-weight: normal;
      cursor: pointer;
      margin: 0px;
    }

    .result-price {
      cursor: pointer;
      margin: 10px 0px;
    }
  }

  @media (max-width: 768px) {
    .result-image {
      width: 90px;
      height: 90px;
    }
  }
}
